<h2>Welcome to Carzilla, start your search below </h2>


<h2>Vehicle Type</h2>
<!-- <ul>
    <%# makes.forEach(make =>{ %>
    <li><%# make.Make_Name %> </p>
<%# }) %>  
</ul> -->

<p><a href="/cars/makes">Cars</a></p>
<p><a href="/trucks/makes">Trucks</a></p>
<p><a href="/motorcycles/makes">Motorcycles</a></p>


<!-- Cars -> route that shows MAKES FOR TYPE -> -->