<h2>Welcome to Carzilla, start your search below... </h2>

<h3>Select a Vehicle Type</h3>


<a href="/cars/makes" role="button">Cars</a>
<a href="/trucks/makes" role="button">Trucks</a>
<a href="/motorcycles/makes" role="button">Motorcycles</a>

<!-- Cars -> route that shows MAKES FOR TYPE -> -->