<h2> <%= models[0].Make_Name %> Models</h2>

<ul>
    <% models.forEach(model =>{ %>
    <li><a href="/motorcycles/makes/<%= models[0].Make_Name %>/<%= model.Model_Name %> "><%= model.Model_Name %></a> </li>
<% }) %>  
</ul>