<hgroup class="primary">
    <h2>User Profile</h2>
</hgroup>


<hgroup>
    <h2>Welcome <%= user.email %> </h2>

</hgroup>

<a href="/vehicles/faves"><button role="small button" >Faves</button></button></a>
<a href="/users/update"><button role="small button" >Update Password</button></button></a>




<!-- 
    have form to create a comment and post w each favorite item
    create button renders make and models page 
    page shows comments
 -->

 <!-- 
    on profile, show own comments under each vehicle
    have delete button for each comment
    have edit button for comment
  -->

<!-- form to create comment for make and model -->
